*.mp4
.idea/
.render/*.png
*.png
__pycache__/
isimple/__pycache__/
*.pyc
isimple/*.pyc
*.csv
examples/
*.xlsx
*.xls
*.docx
*.doc
.history
isimple/.history
*.meta
isimple/.last-update
.cache/
test/.cache/
test/.log
*.log
.mypy_cache/
docs/build/
deploy_*.py
build/
dist/
ui/
.venv/