*.mp4
.idea/
__pycache__/
shapeflow/__pycache__/
*.pyc
shapeflow/*.pyc
*.csv
examples/
*.xlsx
*.xls
*.docx
*.doc
.history
shapeflow/.history
*.meta
shapeflow/.last-update
.cache/
test/.cache/
test/.log
test/.coverage
test/coverage.xml
.coverage
coverage.xml
*.log
.mypy_cache/
docs/build/
deploy_*.py
build/
ui/dist/
.venv/
.local
.~*.md
.ploy
*.tar.gz
.hidden
