cairocffi
CairoSVG
cffi
cssselect2
cycler
defusedxml
diskcache
kiwisolver
lxml
matplotlib
numpy
OnionSVG
opencv-python
pandas
Pillow
pycparser
pyparsing
python-dateutil
pytz
screeninfo
six
tinycss2
webencodings
openpyxl
pyyaml
GitPython
scipy
dulwich
