// core overrides
$sidebar-width: 120px;
$header-height: 49.9333px; /* match sidebar header height with one link, hacky */

$sidebar-nav-link-padding-y:          .4rem !default;
$sidebar-nav-link-padding-x:          .5rem !default;
